*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    margin: 0;
    background-image: url("SEKMatchWeek.org\ BG.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-y: hidden;
}

header {
    color: black;
}

h1 {
    font-weight: 400;
    padding: 2rem;
    text-align: center;
}

#main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

#content {
    height: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 75px 10% 0 10%;
}

.match_day_text {
    font-family: century-gothic, sans-serif;
    color: #582700;
}

.minilogo {
    vertical-align: middle;
}

#buttons_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2rem;
    place-content: center;
    place-items: center;
    max-width: 80%;
    padding-bottom: 1rem;
}

#buttons_div a {
    max-width: 30dvh;
    max-height: 30dvh;
}

#buttons_div a img {
    filter: drop-shadow(15px 15px #26262699);
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    max-height: 100%;
}

#buttons_div a img:hover {
    transform: translate(8px, 8px);
    filter: drop-shadow(7px 7px #26262699);
}

#buttons_div a img:active {
    transform: translate(15px, 15px);
    filter: drop-shadow(0px 0px #00000000);
}

#details_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#details_div p {
    font-size: 55px;
    text-align: right;
    padding: 0;
    line-height: 0.5em;
}

.bold {
    font-weight: 900;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1200px) {
    body {
        background-position: center center;
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        justify-content: center;
    }

    h1 img {
        width: 200px;
    }

    #main {
        display: block;
    }

    #content {
        grid-template-rows: auto 1fr;
        grid-gap: 2rem;
        align-items: start;
        padding: 0;
    }

    #buttons_div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1.5rem;
        justify-items: center;
        align-content: start;
    }

    :is(#buttons_div) a img,
    a img {
        max-width: 35vw;
        max-height: 25vh;
    }

    h1 a {
        display: flex;
        justify-content: center;
    }

    h1 a img,
    #details_div img {
        max-width: 75%;
    }

    #details_div a {
        display: flex;
        justify-content: center;
    }

    #details_div p {
        font-size: 1.5rem;
    }

    #buttons_div a img {
        filter: drop-shadow(8px 8px #26262699);
    }

    #buttons_div a img:hover {
        transform: translate(4px, 4px);
        filter: drop-shadow(4px 4px #26262699);
    }

    #buttons_div a img:active {
        transform: translate(8px, 8px);
        filter: drop-shadow(0px 0px #00000000);
    }
}